<div class="input-group">
  <a href="#{{projectID}}" class="btn btn-default form-control text-left" type="button">{{name}}</a>
  <span class="input-group-btn">
    <button class="btn btn-warning js-btn-edit"><span class="glyphicon glyphicon-cog"></span></button>
  </span>
</div>
