<nav class='navbar navbar-default' role='navigation'>
    <div class='navbar-header'>
      <a href="#" class="navbar-brand">Select Project</a>
    </div>
    <div class="collapse navbar-collapse js-project-list">
    </div>
</nav>

<div class="jumbotron">
  <h1>{{message}}</h1>
</div>

