<nav class='navbar navbar-default' role='navigation'>
    <div class='navbar-header'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      <a href="/" class="navbar-brand">Issue tracker</a>
    </div>
    <div id="bs-navbar-collapse" class="collapse navbar-collapse js-project-list">
    </div>
</nav>

<!--<div>-->
    <!--<ol class="breadcrumb">-->
        <!--<li><a href="#" class="active">Home</a></li>-->
    <!--</ol>-->
<!--</div>-->

<div class="js-body">
</div>

