<div class="list-group">
  <div class="input-group">
    <a href="#{{id}}" class="btn btn-default form-control" type="button">{{name}}</a>
    <span class="input-group-btn">
      <a href="#edit?{{id}}" class="btn btn-warning"><span class="glyphicon glyphicon-cog"></span></a>
      <a href="#del?{{id}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
    </span>
  </div>
</div>
